header {
  font-family: 'Ubuntu', sans-serif;
}

.header-top-full {
  background-color: #245c4f;
}

.header-top {
  display: flex;
  justify-content: right;
  padding: 9px 0px;
  font-size: .65em;
  color: white;
}

.header-top .header-top-support-container {
  display: inline-flex;
  align-items: center;
  padding-left: 50px;
  padding-right: 20px;
}

.header-top .header-top-support-container .header-top-toggle {
  content: "";
  border-top: 4px solid white;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  margin-left: 10px;
}

.header-bottom {
  display: flex;
  padding: 18px 15px;
  font-size: 1em;
  background-color: white;
  border-bottom: solid #e6e6e6 1px;
}

.header-bottom #nav-logo {
  width: 135px;
  padding-right: 15px;
}

.nav-links {
  flex: 1;
  list-style-type: none;
  display: flex;
  align-items: center;
}

.nav-links li {
  padding-left: 15px;
  padding-right: 15px;
  font-size: 1em;
  color: #505050;
}

.nav-links li:hover {
  color: black;
}

@media screen and (max-width: 900px) {
  .header-top-full {
    padding: 5px;
  }
  .header-top-container {
    display: none;
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.row {
  max-width: 1440px;
  margin: auto;
}
