header {
  font-family: 'Ubuntu', sans-serif;
}

.header-top {
  background-color: #245c4f;
}

.header-top-content {
  display: flex;
  justify-content: right;
  padding: 9px 0px;
  font-size: .65em;
  color: white;
  text-align: right;
}

.header-top-content a {
  display: flex;
  align-items: center;
}

.header-top-content .header-top-support {
  padding-left: 50px;
  padding-right: 20px;
}

.header-top-content .header-top-support::after {
  content: "";
  border-top: 4px solid white;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  margin-left: 10px;
}

@media screen and (max-width: 1020px) {
  .header-top {
    padding: 5px;
  }
  .header-top-content {
    display: none;
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.slim-row {
  max-width: 1440px;
  margin: auto;
}
