
.even-columns {
	display: flex;
	height: 720px;
}

.even-columns > * {
	width: 100%;
}

.even-column-image {
	background-size: cover;
	background-position: center;	
}

.even-column-info {
	position: relative;
	display: flex;
	align-items: center;
	font-family: 'Fjalla One', sans-serif;
	font-size: 1.75rem;
	text-transform: uppercase;
	background-color: black;
	color: white;
}

.column-info {
	max-width: 610px;
	margin-left: 50px;
	margin-right: 50px;
	margin-bottom: 100px;

	h1 {
		letter-spacing: 2px;
	}

	p {
		font-size: 1.1rem;
		letter-spacing: 1px;
		line-height: 1.7rem;
		margin-top: 10px;
		margin-bottom: 35px;
	}
}

.carousel-buttons {
	position: absolute;
	bottom: 50px;
	left: 0;
	right: 0;
	text-align: center;
}


#column-image-custom-shop {
	background-image: url('/img/photos/custom-shop.jpg');
}

#column-image-performer {
	background-image: url('/img/photos/performer.jpg');
}

#column-image-ukulele {
	background-image: url('/img/photos/ukulele.jpg');
}

#column-image-david-gilmour {
	background-image: url('/img/photos/david-gilmour.jpg');
}

#column-image-luthier {
	background-image: url('/img/photos/luthier.jpg');
}



@media screen and (max-width: 1024px) {

	.even-columns {
		height: 480px;
	}

	.even-column-info {
		font-size: 1rem;
	}

	.column-info {
		margin-left: 20px;
		margin-right: 20px;
		margin-bottom: 100px;

		p {
			font-size: .9rem;
			line-height: 1.3rem;
		}
	}
}


@media screen and (max-width: 770px) {

	#asdf {
		display: block;
		width: 100%;
	}

	#column-image-custom-shop {
		background-image: none;
	}

	.column-info {
		display: flex;
		flex-direction: column;
		align-items: center;

		padding: 20px;
		margin: 0px;
		text-align: center;
	}


}