header {
	font-family: 'Ubuntu', sans-serif;
}

.header-top {
	background-color: $green;
}

.header-top-content {
	display: flex;
	justify-content: right;
	padding: 9px 0px;
	font-size: .65em;
	color: white;
	text-align: right;

	a {
		display: flex;
		align-items: center;
	}

	.header-top-support {
		padding-left: 50px;
		padding-right: 20px;
	}

	.header-top-support::after {
		content: '';
		border-top: 4px solid white;
		border-left: 4px solid transparent;
		border-right: 4px solid transparent;
		margin-left: 10px;
	}

	.header-top-support:hover::after {
		border-top: none;
		border-bottom: 4px solid white;
	}
}

.header-bottom {
	border-bottom: solid rgb(230, 230, 230) 1px;
}

.header-bottom-content {

	display: flex;
	padding: 0px 17px;

	.header-bottom-column-1 {
		display: flex;
		align-items: center;
		
		#header-logo {
			width: 118px;
			margin-right: 20px;
		}
	}
		
	.header-bottom-column-2 {
		display: flex;
		align-items: center;
		flex: 1;

		a {
			position: relative;
			margin: 0px 12px;
			padding: 30px 0px;
			cursor: pointer;
			white-space: nowrap;
		}
	
		a::after {
			content: '';
			display: block;
			position: absolute;
			bottom: 0;
			width: 0;
			height: 1px;
			background: $green;
			transition: width .2s;
		}
	
		a:hover::after {
			width: 100%;
		}
	}

	.header-bottom-column-3 {
		display: flex;
		align-items: center;
		border-left: solid rgb(230, 230, 230) 1px;
		border-right: solid rgb(230, 230, 230) 1px;
		padding: 0px 20px;
		
		.header-search-form {
			display: flex;
			justify-content: center;
			
			.header-search-input {
				width: 60px;
				font-family: 'Ubuntu', sans-serif;
				font-size: .8em;
				border: none;
			}
			
			.header-search-button {
				width: 25px;
				height: 25px;
				background-color: white;
				border: none;
				
				img {
					width: 100%;
				}
			}
		}
	}

	.header-bottom-column-4 {

		display: flex;
		align-items: center;
		padding: 20px;

		.header-bottom-button {
			width: 40px;
			height: 40px;
			background-color: white;
			border: none;
			margin: 0px 10px;
		}

		#account-button {
			background: url('/img/account-icon.png') no-repeat center;
			background-size: 30px;
		}

		#cart-button {
			background: url('/img/cart-icon.png') no-repeat center;
			background-size: 30px;
		}

	}
}


@media screen and (max-width: 1020px) {

	.header-top {
		padding: 5px;
	}

	.header-top-content {
		display: none;
	}

	#header-nav-links {
		display: none;
	}
}