.header-banner {
	background-color: $green;
}

.header-banner-content {
	font-family: 'Ubuntu', sans-serif;
	font-size: .69rem;
	text-align: right;
	padding: 8px 20px 9px 20px;
	color: white;
}

#header-support {
	padding-left: 45px;
	padding-right: 15px;
}

#header-support::after {
	content: '';
	border-top: 4px solid white;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	position: absolute;
	top: 13px;
	margin-left: 7px;
}

#header-support:hover::after {
	border-top: none;
	border-bottom: 4px solid white;
}

// .header-nav {
// 	 border-bottom: solid rgb(230, 230, 230) 1px;
// }

.header-nav-content {
	display: flex;
	height: 80px;
	padding: 0px 15px;
}

.header-nav-content > div {
	display: flex;
	align-items: center;
}

.header-nav-logo > img {
	width: 120px;
}

#header-nav-links {
	flex: 1;
	margin-left: 30px;
}

.header-nav-link {
	position: relative;
	display: inline-flex;
	align-items: center;
	font-family: 'Ubuntu', sans-serif;
	font-size: .95rem;
	font-weight: 600;
	height: 100%;
	cursor: pointer;
	white-space: nowrap;
	margin: 0px 12px;
}
	
.header-nav-link::after {
	content: '';
	display: block;
	position: absolute;
	bottom: 0;
	width: 0;
	height: 1px;
	background: $green;
	transition: width .2s;
}

.header-nav-link:hover::after {
	width: 100%;
}


#header-nav-search {
	padding: 0px 20px;
	border-left: solid rgb(230, 230, 230) 1px;
	border-right: solid rgb(230, 230, 230) 1px;
}

.header-search-form {
	display: flex;
	align-items: center;
}

.header-search-input {
	font-family: 'Ubuntu', sans-serif;
	font-size: .8em;
	border: none;
	width: 60px;
	transition: width .3s;
}

.header-search-input:focus {
	width: 120px;
	outline: none;
}

.header-nav-account {
	position: relative;
	padding: 0px 20px;
}

@media screen and (max-width: 1220px) {
	.header-search-input {
		max-width: 60px;
	}
}

@media screen and (max-width: 1150px) {
	.header-banner-content {
		padding: 5px;
	}

	.header-banner-content > * {
		display: none;
	}

	.header-nav-logo {
		flex: 1;
		justify-content: center;
	}

	#header-nav-links {
		display: none;
	}

	#header-nav-search {
		display: none;
	}

	.header-nav-account {
		padding: 0px 0px;
	}

}


@media screen and (max-width: 770px) {
	.header-nav-content {
		height: 60px;
	}

	.header-nav-logo > img {
		width: 110px;
	}
}